<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>55171556370-e6ibtn0fhgihrm9ru2c0j3e0r8ikusru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55171556370-e6ibtn0fhgihrm9ru2c0j3e0r8ikusru</string>
	<key>API_KEY</key>
	<string>AIzaSyAf7qWbTnxgspfqZihEpBWKZ59CsFAXgY8</string>
	<key>GCM_SENDER_ID</key>
	<string>55171556370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iankchristie.accountable</string>
	<key>PROJECT_ID</key>
	<string>accountable-dee98</string>
	<key>STORAGE_BUCKET</key>
	<string>accountable-dee98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55171556370:ios:f5a55a8caae0374c9fe4cb</string>
</dict>
</plist>